APP_NAME=citation-generator
ENV=dev
SECRET_KEY=VLXmsYGNx8lUiQql_Vb_As5g-nIKFTUxPu9HhZGehmVpu6OL1Z_MrJTHfrMWKk2ejvyAFkRNyZLUQ1dXs7FuSQ
JWT_ALG=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=43200
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/citation_gen
CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]
